<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="page">
  <div class="page-wrapper">
    <header class="main-header main-header_home-page">
      <div class="uk-container">
        <div class="main-header__top">
          <a class="main-header__logo" aria-label="AUTO ROOM - Ремонт и обслуживание авто">
            <img class="main-header__logo-img" src="../img/logo.svg" alt="">
          </a>
          <div class="main-header__rightside">
            <a class="main-header__tel" href="tel: +79264775335">+7 926 477 53 35</a>
            <div class="main-header__social">
              <a class="main-header__social-link" href="#">Viber</a>,
              <a class="main-header__social-link" href="#">Whatsapp</a>
            </div>
          </div>
        </div>
        <div class="main-header__adapt-menu-area">
          <div class="adapt-services">
            <button class="adapt-services__btn-drop" type="button">
              <span class="adapt-services__btn-drop-text">Услуги по авторемонту</span>
            </button>
            <div class="adapt-services__sub-menu" data-uk-dropdown="mode: click">
              <ul class="adapt-services__sub-menu-list uk-dropdown-nav">
                <li class="adapt-services__sub-menu-item">
                  <a class="adapt-services__sub-menu-link" href="#">Покрасочные работы</a>
                </li>
                <li class="adapt-services__sub-menu-item">
                  <a class="adapt-services__sub-menu-link" href="#">Наши работы</a>
                </li>
                <li class="adapt-services__sub-menu-item">
                  <a class="adapt-services__sub-menu-link" href="#">Контакты</a>
                </li>
              </ul>
            </div>
          </div>
          <button class="btn-menu js-btn-menu" type="submit"
            data-uk-toggle="target: .js-nav-main, .js-btn-menu; cls: active">
          </button>
          <nav class="nav-main js-nav-main">
            <ul class="nav-main__list">
              <li class="nav-main__item">
                <a class="nav-main__link" href="#">О нас</a>
              </li>
              <li class="nav-main__item"><a class="nav-main__link" href="#">Покрасочные работы</a></li>
              <li class="nav-main__item"><a class="nav-main__link" href="#">Наши работы</a></li>
              <li class="nav-main__item"><a class="nav-main__link" href="#">Контакты</a></li>
            </ul>
          </nav>
        </div>
        <nav class="nav-main">
          <ul class="nav-main__list">
            <li class="nav-main__item">
              <a class="nav-main__link" href="#">О нас</a>
            </li>
            <li class="nav-main__item">
              <button class="nav-main__btn-drop" type="button">
                <span class="nav-main__btn-drop-text">Услуги по авторемонту</span>
              </button>
              <div class="nav-main__sub-menu" data-uk-dropdown="mode: click">
                <ul class="nav-main__sub-menu-list uk-dropdown-nav">
                  <li class="nav-main__sub-menu-item">
                    <a class="nav-main__sub-menu-link" href="#">Покрасочные работы</a>
                  </li>
                  <li class="nav-main__sub-menu-item">
                    <a class="nav-main__sub-menu-link" href="#">Наши работы</a>
                  </li>
                  <li class="nav-main__sub-menu-item">
                    <a class="nav-main__sub-menu-link" href="#">Контакты</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-main__item"><a class="nav-main__link" href="#">Покрасочные работы</a></li>
            <li class="nav-main__item"><a class="nav-main__link" href="#">Наши работы</a></li>
            <li class="nav-main__item"><a class="nav-main__link" href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="home">
      <div class="home__intro">
        <div class="uk-container">
          <h1 class="home__title">
            Автосервис для любых видов авто и техники
          </h1>
          <section class="home-callback" id="home-callback">
            <h2 class="home-callback__section-title section-title section-title_light">
              Что хотите починить?
            </h2>
            <form class="home-callback__form-callback form-callback form-callback_intro">
              <div class="form-callback__fields-area">
                <div>
                  <label class="form-callback__label">
                    <input class="form-callback__input js-focused--input" type="text" required>
                    <span class="form-callback__label-text">
                      Опишите проблему
                    </span>
                  </label>
                  <div class="form-callback__attachment">
                    Есть фото? Отлично,
                    <div data-uk-form-custom>
                      <input class="form-callback__attachment-input" type="file" aria-label="Приложение фото">
                      <span class="form-callback__btn-attachment">
                        <span class="form-callback__btn-attachment-text">прикрепите</span>
                        <svg class="form-callback__btn-attachment-icon" viewBox="0 0 18 20.969">
                          <path
                            d="M692.29,733.364a0.775,0.775,0,0,0,0-1.048,0.677,0.677,0,0,0-.992,0l-3.71,3.921a3.63,3.63,0,0,0,0,4.951,3.18,3.18,0,0,0,4.684,0l8.377-8.852a5.087,5.087,0,0,0,0-6.9,4.449,4.449,0,0,0-6.547,0l-8.36,8.835a6.535,6.535,0,0,0,0,8.889,5.722,5.722,0,0,0,8.411,0l3.709-3.921a0.771,0.771,0,0,0,0-1.048,0.676,0.676,0,0,0-.992,0l-3.709,3.92a4.367,4.367,0,0,1-6.427,0,4.99,4.99,0,0,1,0-6.792l8.359-8.835a3.1,3.1,0,0,1,2.273-.993,3.133,3.133,0,0,1,2.274.993,3.465,3.465,0,0,1,.941,2.4,3.5,3.5,0,0,1-.941,2.4l-8.376,8.852a1.856,1.856,0,0,1-2.7,0,2.087,2.087,0,0,1,0-2.854Zm0,0"
                            transform="translate(-684 -724.031)" />
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
                <div>
                  <label class="form-callback__label">
                    <input class="form-callback__input js-focused--input" type="text" required>
                    <span class="form-callback__label-text">
                      Имя
                    </span>
                  </label>
                </div>
                <div>
                  <label class="form-callback__label">
                    <input class="form-callback__input js-focused--input" type="tel" required>
                    <span class="form-callback__label-text">
                      Телефон
                    </span>
                  </label>
                </div>
              </div>
              <div class="form-callback__submit-area">
                <button class="form-callback__submit btn-action btn-action_home-page" type="submit">
                  Отправить&nbsp;
                  <svg class="btn-action__arrow" viewBox="0 0 32 18">
                    <path fill-rule="evenodd"
                      d="M31.998,8.986 C31.998,8.990 32.000,8.994 32.000,8.998 C32.000,8.998 32.000,8.998 32.000,8.998 C32.000,9.121 31.975,9.244 31.927,9.359 C31.878,9.475 31.808,9.580 31.719,9.667 L23.559,17.723 C23.372,17.907 23.127,17.999 22.883,17.999 C22.638,17.999 22.393,17.907 22.206,17.723 C21.833,17.354 21.833,16.756 22.206,16.387 L28.735,9.942 L0.956,9.942 C0.428,9.942 -0.000,9.520 -0.000,8.998 C-0.000,8.477 0.428,8.055 0.956,8.055 L28.736,8.055 L22.206,1.610 C21.833,1.242 21.833,0.644 22.206,0.275 C22.580,-0.094 23.185,-0.094 23.559,0.275 L31.719,8.330 C31.808,8.417 31.878,8.522 31.927,8.638 C31.973,8.749 31.996,8.867 31.998,8.986 Z" />
                  </svg>
                </button>
              </div>
            </form>
          </section>
        </div>
      </div>
      <section class="home-services" data-uk-parallax="bgy: -500">
        <div class="uk-container">
          <h2 class="home-services__section-title section-title section-title_dark">Наши услуги</h2>
          <ul class="home-services__list">
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Ремонт и замена двигателя
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Ремонт ходовой
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Ремонт КПП
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Техобслуживание
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Замена масла в моторе
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Замена масла в коробке
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Ремонт электрики
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Ремонт электрики
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Компьютерная диагностика
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Ремонт генераторов и стартеров
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Замена ремня и цепи ГРМ
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Поиск, подбор и доставка автозапчастей
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
            <li class="home-services__item">
              <a class="home-services__link" href="#">
                <span class="home-services__link-text">
                  Предпродажная подготовка
                </span>
                <span class="home-services__link-img uk-cover-container">
                  <img data-uk-cover src="../img/service-link.jpg" alt="">
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <ul class="home-sections">
        <li class="home-sections__item">
          <a class="section-item section-item_kuzov" href="#">
            <span class="section-item__letter">
              К
            </span>
            <span class="section-item__title">
              Кузовные работы
            </span>
          </a>
        </li>
        <li class="home-sections__item">
          <a class="section-item section-item_slesar" href="#">
            <span class="section-item__letter">
              С
            </span>
            <span class="section-item__title">
              Слесарные работы
            </span>
          </a>
        </li>
        <li class="home-sections__item">
          <a class="section-item section-item_pokras" href="#">
            <span class="section-item__letter">
              П
            </span>
            <span class="section-item__title">
              Покрасочные работы
            </span>
          </a>
        </li>
      </ul>
      <section class="home-partners" data-uk-parallax="bgy: -500">
        <div class="uk-container">
          <h2 class="home-partners__section-title section-title section-title_dark">
            Марки, с которыми мы работаем
          </h2>
          <div class="home-partners__slider uk-visible-toggle" tabindex="-1" data-uk-slider="autoplay: true">
            <div class="uk-position-relative">
              <div class="uk-slider-container">
                <ul
                  class="home-partners__slider-items uk-slider-items uk-child-width-1-1 uk-child-width-1-4@s uk-child-width-1-6@m uk-grid uk-grid-small">
                  <li class="home-partners__slider-item">
                    <img src="../img/partners-1.jpg" alt="">
                  </li>
                  <li class="home-partners__slider-item">
                    <img src="../img/partners-2.jpg" alt="">
                  </li>
                  <li class="home-partners__slider-item">
                    <img src="../img/partners-3.jpg" alt="">
                  </li>
                  <li class="home-partners__slider-item">
                    <img src="../img/partners-1.jpg" alt="">
                  </li>
                  <li class="home-partners__slider-item">
                    <img src="../img/partners-2.jpg" alt="">
                  </li>
                  <li class="home-partners__slider-item">
                    <img src="../img/partners-3.jpg" alt="">
                  </li>
                  <li class="home-partners__slider-item">
                    <img src="../img/partners-1.jpg" alt="">
                  </li>
                  <li class="home-partners__slider-item">
                    <img src="../img/partners-2.jpg" alt="">
                  </li>
                </ul>
              </div>
              <a class="home-partners__slider-nav home-partners__slider-nav_left" href="#"
                data-uk-slider-item="previous" aria-label="Следующие слайды">
                <svg class="home-partners__slider-arrow width=" viewBox="0 0 24.937 17.81">
                  <path data-name="Фигура 6"
                    d="M8.131.25a.865.865 0 0 1 1.256 0 .918.918 0 0 1 0 1.27L3.016 7.99h21.023a.894.894 0 0 1 .893.89.9.9 0 0 1-.893.91H3.017l6.371 6.46a.931.931 0 0 1 0 1.28.882.882 0 0 1-1.256 0L.253 9.52a.9.9 0 0 1 0-1.26zm0 0"
                    fill-rule="evenodd" />
                </svg>
              </a>
              <a class="home-partners__slider-nav home-partners__slider-nav_right" href="#" data-uk-slider-item="next"
                aria-label="Предыдущие слайды">
                <svg class="home-partners__slider-arrow width=" viewBox="0 0 24.97 17.81">
                  <path data-name="Фигура 6"
                    d="M16.81.25a.87.87 0 0 0-1.26 0 .918.918 0 0 0 0 1.27l6.37 6.47H.9a.892.892 0 0 0-.89.89.9.9 0 0 0 .89.91h21.02l-6.37 6.46a.931.931 0 0 0 0 1.28.887.887 0 0 0 1.26 0l7.88-8.01a.906.906 0 0 0 0-1.26zm0 0"
                    fill-rule="evenodd" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="home-features">
        <div class="uk-container">
          <ul class="home-features__list">
            <li class="home-features__item">
              <div class="home-features__icon-wrapper">
                <img class="home-features__icon" src="../img/icon-thumbs-up.svg" alt="">
              </div>
              <div class="home-features__desc">
                Дешевле средней
                цены по городу
              </div>
            </li>
            <li class="home-features__item">
              <div class="home-features__icon-wrapper">
                <img class="home-features__icon" src="../img/icon-truck.svg" alt="">
              </div>
              <div class="home-features__desc">
                Предоставляем услуги
                эвакуатора со скидкой
              </div>
            </li>
            <li class="home-features__item">
              <div class="home-features__icon-wrapper">
                <img class="home-features__icon" src="../img/icon-parking.svg" alt="">
              </div>
              <div class="home-features__desc">
                Охраняемая стоянка
                для автомобилей
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="home-works" data-uk-parallax="bgy: -500">
        <div class="uk-container">
          <h2 class="home-works__section-title section-title section-title_dark">
            Наши работы
          </h2>
          <div class="home-works__switcher">
            <ul class="home-works__switcher-list" data-uk-switcher>
              <li class="home-works__switcher-item">
                <a class="home-works__switcher-link" href="#">
                  Ремонт ходовой
                </a>
              </li>
              <li class="home-works__switcher-item">
                <a class="home-works__switcher-link" href="#">
                  Ремонт КПП
                </a>
              </li>
              <li class="home-works__switcher-item">
                <a class="home-works__switcher-link" href="#">
                  Техобслуживание
                </a>
              </li>
              <li class="home-works__switcher-item">
                <a class="home-works__switcher-link" href="#">
                  Замена масла в моторе
                </a>
              </li>
              <li class="home-works__switcher-item">
                <a class="home-works__switcher-link" href="#">
                  Замена масла в коробке
                </a>
              </li>
              <li class="home-works__switcher-item">
                <a class="home-works__switcher-link" href="#">
                  Ремонт электрики
                </a>
              </li>
              <li class="home-works__switcher-item">
                <a class="home-works__switcher-link" href="#">
                  Компьютерная диагностика
                </a>
              </li>
              <li class="home-works__switcher-item">
                <a class="home-works__switcher-link" href="#">
                  Ремонт генераторов и стартеров
                </a>
              </li>
            </ul>
            <ul class="home-works__comparsion-list uk-switcher">
              <li>
                <div class="home-works__switcher-comparsion comparsion js-comparsion">
                  <div class="comparsion__left js-comparsion-left" style="background-image: url('img/test2.jpg')">
                  </div>
                  <div class="comparsion__right" style="background-image: url('img/test1.jpg')">
                  </div>
                  <div class="comparsion__handler js-comparsion-handler"></div>
                </div>
              </li>
              <li>
                <div class="home-works__switcher-comparsion comparsion js-comparsion">
                  <div class="comparsion__left js-comparsion-left" style="background-image: url('img/test2.jpg')">
                  </div>
                  <div class="comparsion__right" style="background-image: url('img/test1.jpg')">
                  </div>
                  <div class="comparsion__handler js-comparsion-handler"></div>
                </div>
              </li>
              <li>
                <div class="home-works__switcher-comparsion comparsion js-comparsion">
                  <div class="comparsion__left js-comparsion-left" style="background-image: url('img/test2.jpg')">
                  </div>
                  <div class="comparsion__right" style="background-image: url('img/test1.jpg')">
                  </div>
                  <div class="comparsion__handler js-comparsion-handler"></div>
                </div>
              </li>
              <li>
                <div class="home-works__switcher-comparsion comparsion js-comparsion">
                  <div class="comparsion__left js-comparsion-left" style="background-image: url('img/test2.jpg')">
                  </div>
                  <div class="comparsion__right" style="background-image: url('img/test1.jpg')">
                  </div>
                  <div class="comparsion__handler js-comparsion-handler"></div>
                </div>
              </li>
              <li>
                <div class="home-works__switcher-comparsion comparsion js-comparsion">
                  <div class="comparsion__left js-comparsion-left" style="background-image: url('img/test2.jpg')">
                  </div>
                  <div class="comparsion__right" style="background-image: url('img/test1.jpg')">
                  </div>
                  <div class="comparsion__handler js-comparsion-handler"></div>
                </div>
              </li>
              <li>
                <div class="home-works__switcher-comparsion comparsion js-comparsion">
                  <div class="comparsion__left js-comparsion-left" style="background-image: url('img/test2.jpg')">
                  </div>
                  <div class="comparsion__right" style="background-image: url('img/test1.jpg')">
                  </div>
                  <div class="comparsion__handler js-comparsion-handler"></div>
                </div>
              </li>
              <li>
                <div class="home-works__switcher-comparsion comparsion js-comparsion">
                  <div class="comparsion__left js-comparsion-left" style="background-image: url('img/test2.jpg')">
                  </div>
                  <div class="comparsion__right" style="background-image: url('img/test1.jpg')">
                  </div>
                  <div class="comparsion__handler js-comparsion-handler"></div>
                </div>
              </li>
              <li>
                <div class="home-works__switcher-comparsion comparsion js-comparsion">
                  <div class="comparsion__left js-comparsion-left" style="background-image: url('img/test2.jpg')">
                  </div>
                  <div class="comparsion__right" style="background-image: url('img/test1.jpg')">
                  </div>
                  <div class="comparsion__handler js-comparsion-handler"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer class="main-footer">
      <div class="main-footer__top">
        <div class="uk-container">
          <div class="main-footer__top-inner">
            <a class="main-footer__tel" href="tel:+79264775335">+7 926 477 53 35</a>
            <div class="main-footer__info">
              <div class="main-footer__info-item">
                Пушкинская, 48
              </div>
              <div class="main-footer__info-item">
                c 10:00 до 22:00
              </div>
            </div>
            <div class="main-footer__assign-area">
              <a class="main-footer__assign btn-action btn-action_home-page" href="#home-callback" data-uk-scroll>
                Записаться
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer__bottom">
        <div class="uk-container">
          <div class="main-footer__bottom-inner">
            <ul class="main-footer__law-links">
              <li class="main-footer__law-item">
                <a class="main-footer__law-link" href="#">Политика конфиденциальности</a>
              </li>
              <li class="main-footer__law-item">
                <a class="main-footer__law-link" href="#">Политика конфиденциальности</a>
              </li>
            </ul>
            <a class="main-footer__devs-link" aria-label="Разработано в веб-студии AVSWEB">
              <img class="main-footer__devs-img" src="../img/devs.svg" alt="Разработано веб-студией AVS Web">
            </a>
          </div>
        </div>
    </footer>
  </div>
</body>
<script src="../bundle.js"></script>

</html>