.btn-action {
  @include reset-btn;
  @include reset-link;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #fff, 0px 0px 0 35px #d5dce4;
  transition: box-shadow 0.25s;
  background-color: #d5dce4;
  color: #222;
  font-size: 18px;
  line-height: 1;
  &:hover,
  &:focus {
    color: #222;
    box-shadow: 0 0 0 0 #fff, 0 0 0 35px #93012a;
    transition: box-shadow 0.25s;
    .btn-action__arrow {
      transform: translateX(10px);
      transition: transform 0.25s;
    }
  }
}

.btn-action__arrow {
  transition: transform 0.25s;
}
