.btn-action {
  @include reset-btn;
  @include reset-link;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: box-shadow 0.25s;
  background-color: #d5dce4;
  color: #222;
  font-size: 18px;
  line-height: 1;
  &:hover,
  &:focus {
    color: #222;
    box-shadow: 0 0 0 0 #fff, 0 0 0 35px #93012a;
    transition: box-shadow 0.25s;
    .btn-action__arrow {
      transform: translateX(10px);
      transition: transform 0.25s;
    }
  }
  &_home-page {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 0 10px #fff, 0px 0px 0 35px #d5dce4;
    @media (max-width: $breakpoint-medium) {
      width: 120px;
      height: 120px;
      box-shadow: 0 0 0 3px #fff, 0px 0px 0 5px #d5dce4;
      font-size: 16px;
      &:hover,
      &:focus {
        box-shadow: 0 0 0 0 #fff, 0 0 0 5px #93012a;
      }
    }
  }
  &_inner-page {
    width: 120px;
    height: 120px;
    box-shadow: 0 0 0 3px #fff, 0px 0px 0 5px #d5dce4;
    font-size: 16px;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 0 #fff, 0 0 0 5px #93012a;
    }
  }
}

.btn-action__arrow {
  transition: transform 0.25s;
  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}
