.home__intro {
  padding-top: 220px;
  background: #93012a url('../img/bg-intro.jpg') no-repeat 50% 50% / cover;
}

.home__title {
  margin-bottom: 210px;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 0.9;
  @media (max-width: $breakpoint-large) {
    margin-bottom: 150px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 110px;
    font-size: 50px;
  }
}
