.home-sections {
  @include reset-list;
  display: flex;
  @media (max-width: $breakpoint-medium) {
    display: block;
  }
}

.home-sections__item {
  flex-grow: 1;
  &:nth-of-type(2) {
    position: relative;
    top: -70px;
    @media (max-width: $breakpoint-medium) {
      position: static;
    }
  }
}
