.home-works {
  padding: 150px 0 145px;
  background: url('../img/bg-works.png') no-repeat 0 50%;
}

.home-works__section-title {
  margin-bottom: 50px;
}

.home-works__switcher {
  display: flex;
}

.home-works__switcher-list {
  @include reset-list;
  position: relative;
  z-index: 2;
  margin: 15px 15px 0 0;
}

.home-works__switcher-item {
  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
  &.uk-active {
    .home-works__switcher-link {
      width: calc(100% + 40px);
      padding-left: 35px;
      background-size: 100% 100%;
      color: #fff;
      transition: padding-left 0.25s, color 0.25s, background-size 0.25s;
    }
  }
}

.home-works__switcher-link {
  @include reset-link;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(to right, #93012a, #93012a) no-repeat 0 0 / 0 100%;
  color: #222;
  font-size: 24px;
  font-weight: 700;
  transition: padding-left 0.25s, color 0.25s, background-size 0.25s;
  &:hover {
    color: #93012a;
  }
}

.home-works__comparsion-list {
  @include reset-list;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}
