.main-header {
  &_home-page {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    @media (max-width: $breakpoint-small) {
      top: 20px;
    }
  }
  &_inner-page {
    padding-top: 30px;
    margin-bottom: 50px;
    background: url('../img/bg-innerpage-header.jpg') no-repeat 50% 50% / cover;
  }
}

.main-header__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

.main-header__logo {
  @media (max-width: $breakpoint-small) {
    margin-bottom: 20px;
  }
}

.main-header__logo-img {
  width: 220px;
  height: 50px;
}

.main-header__tel {
  @include reset-link;
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  &:hover {
    color: #fff;
  }
}

.main-header__rightside {
  text-align: right;
  @media (max-width: $breakpoint-small) {
    text-align: center;
  }
}

.main-header__social-link {
  @include reset-link;
  color: #a2868d;
  font-weight: 500;
  &:hover {
    color: #a2868d;
  }
}

.main-header__adapt-menu-area {
  display: none;
  @media (max-width: $breakpoint-medium) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
