.nav-services {
  width: 290px;
  min-width: 290px;
  max-width: 100%;
  @media (max-width: $breakpoint-medium) {
    width: 100%;
  }
}

.nav-services__list {
  @include reset-list;
  @media (max-width: $breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}

.nav-services__item {
  &:first-of-type {
    border-top: 3px solid #d5dce4;
    @media (max-width: $breakpoint-medium) {
      border-top: none;
    }
  }
  &.active {
    .nav-services__link {
      color: #b6103d;
      border-bottom-color: #b6103d;
    }
  }
  @media (max-width: $breakpoint-medium) {
    margin-right: 20px;
  }
  @media (max-width: $breakpoint-small) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.nav-services__link {
  @include reset-link;
  display: block;
  padding: 8px 0;
  color: #222;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 3px solid #d5dce4;

  &:hover {
    color: #b6103d;
  }
}
