.note {
  position: relative;
  padding: 44px 40px;
  border: 10px solid #d5dce4;
  &::before {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 11%;
    width: 260px;
    height: 170px;
    background: url('../img/bg-note.png') no-repeat 50% 50% / contain;
  }
  @media (max-width: $breakpoint-medium) {
    &::before {
      width: 200px;
      height: 140px;
    }
  }
  @media (max-width: $breakpoint-small) {
    &::before {
      display: none;
    }
  }
}

.note__text {
  position: relative;
  z-index: 2;
  width: calc(100% - 217px);
  color: #222;
  font-size: 30px;
  font-weight: 700;
  @media (max-width: $breakpoint-large) {
    font-size: 20px;
  }
  @media (max-width: $breakpoint-small) {
    width: 100%;
  }
}
