.section-title {
  color: #fff;
  font-size: 62px;
  font-weight: 700;
  line-height: 1;
  &_light {
    color: #fff;
  }
  &_dark {
    color: #222;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 50px;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 40px;
  }
}
